{% block sw_cms_block_blueally_banner_preview %}
	<div
		class="banner-image-wrapper">
		<!-- Only show the img if we have a valid URL -->
		<img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"/>
		<div class="banner-content">
			<h1 style="color: #fff">Lorem ipsum dolor</h1>
			<p style="color: #fff">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
		</div>
	</div>

{% endblock %}
