{% block sw_cms_block_blueally_banner %}
	<div class="sw_cms_block_blueally_banner">
		<slot name="content">
			{% block sw_cms_block_blueally_banner_slot_content %}{% endblock %}
		</slot>
	</div>
{% endblock %}
